@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap");

:root {
  --color-primary: #273773;
  --color-secondary: #ffb10a;
  --color-tertiary: #1b75ba;
  --color-buttons: #ef5a28;
  --color-dark-grey: #181818;
  --color-black: #000;
  --color-white: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: var(--color-black);

  overflow-x: hidden;
}

/* HEADER */

.header {
  max-width: 100%;
}

.logo {
  width: 100%;
  margin: 3rem auto 9rem auto;
  max-width: 120rem;
}

/* HERO SECTION */

.section-hero {
  position: relative;
}

.section-hero::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  border-bottom: 2px solid var(--color-primary);
  z-index: 10;
}

.hero-container {
  max-width: 120rem;
  margin: 0 auto;
}

.hero {
  max-width: 70.5rem;

  padding-bottom: 5.5rem;
}

.hero-heading {
  font-size: 3.98rem;
  text-transform: uppercase;
  font-weight: 900;

  color: var(--color-primary);

  margin-bottom: 6.7rem;
}

.hero-heading span {
  color: var(--color-tertiary);
}

.hero-description {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.5;

  margin-bottom: 6.1rem;
}

.hero-description span {
  font-weight: 700;
}

.hero-description .oro {
  color: var(--color-secondary);
}

.cta {
  max-width: 24rem;
}

.btn {
  font-size: 1.7rem;
  font-family: inherit;
  font-weight: 900;
  color: var(--color-white);
  background-color: var(--color-buttons);

  display: block;
  border: none;
  border-radius: 0.3rem;

  cursor: pointer;
}

.btn-page {
  padding: 1.5rem 6.7rem;
  margin-bottom: 2.1rem;
}

.btn:hover {
  background-color: var(--color-secondary);
}

.risk-text {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.3;

  text-align: center;
}

.hero-img-coins-bg {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -2;
}

.hero-img-coins {
  position: absolute;
  bottom: 7.5rem;
  right: 10rem;
  z-index: -1;
}

.hero-img-mobile {
  display: none;
}

/* SECTION MARKET OBSERVATIONS */

.market-observations-description {
  margin-top: 2.7rem;
  margin-bottom: 2.6rem;

  width: 120rem;
  margin: 0 auto;
}

.market-observations-heading {
  font-size: 2.5rem;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--color-primary);

  margin-top: 2.5rem;
  margin-bottom: 3.1rem;
}

.market-observations-text {
  font-size: 1.8rem;
  line-height: 1.3;
  font-weight: 500;

  display: block;
  width: 108rem;

  margin-bottom: 2.6rem;
}

.trends-and-shifts {
  width: 100%;
}

.row {
  max-width: 120rem;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10.5rem;
}

.row-blue,
.row-white {
  display: flex;
  justify-content: center;
}

.row-blue {
  background-color: var(--color-primary);
}

.trend {
  margin-top: 3.8rem;
  margin-bottom: 3rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;

  text-align: center;
  line-height: 1.3;
}

.trend-name span {
  font-size: 2.5rem;
  font-weight: 900;
}

.row-blue .trend-name span {
  color: var(--color-white);
}

.row-white .trend-name span {
  color: var(--color-primary);
}

.trend-name {
  font-size: 1.8rem;
  font-weight: 900;
  color: var(--color-secondary);
}

.trend-text {
  font-size: 1.8rem;
  font-weight: 500;
}

.row-blue .trend-text {
  color: var(--color-white);
}

.row-white .trend-text {
  color: var(--color-primary);
}

.trend__6 {
  white-space: nowrap;
}

.trend__7 .trend-name {
  margin-top: -1rem;
  white-space: nowrap;
}

.trend__8 .trend-name {
  margin-top: 1rem;
}

/* SECTION CALL-TO-ACTION */

.section-cta {
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary);
}

.cta-container {
  margin: 0 auto;
}

.btn-cta {
  margin-top: 3rem;
}

.cta-container .risk-text {
  color: var(--color-white);
  margin-bottom: 3rem;
}

/* SECTION COMMITMENT */

.section-commitment {
  position: relative;
}

.commitment-container {
  max-width: 120rem;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-self: center;
  gap: 2.7rem;
}

.commitment-heading {
  font-size: 2.5rem;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--color-primary);

  margin-top: 3rem;
}

.commitment-heading span {
  color: var(--color-secondary);
}

.commitments {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  align-items: center;
  justify-content: center;

  margin-bottom: 3rem;
}

.commitment {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  text-align: center;

  font-size: 1.8rem;
  font-weight: 500;

  padding: 0 2rem 0 2rem;
}

.commitment-name {
  color: var(--color-primary);
  font-weight: 900;
}

.money-cloud-img {
  position: absolute;

  top: -2.5rem;
  right: 0;

  z-index: -1;
}

/* FOOTER */

footer {
  background-color: var(--color-dark-grey);
  color: var(--color-white);
}

.footer-text {
  font-size: 1.2rem;
  line-height: 2;
  text-align: center;
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
  max-width: 120rem;
  margin: 0 auto;
}

/* SUBSCRIBE FORM */

.form-container {
  position: relative;
  max-width: 48.5rem;
  padding: 3rem 2rem;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

.close-form {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  color: var(--color-primary);
  cursor: pointer;
  border: none;
  background: none;
}

.cta-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.cta-form input,
.cta-form select {
  padding: 0.5rem 1rem;
  font-size: 1.6rem;
  font-family: inherit;
  color: inherit;
  border-radius: 0.8rem;
  border: 1px solid var(--color-dark-grey);
}

.phone-input {
  display: flex;
}

#phone-prefix {
  width: 20%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: var(--color-white);
}

#phone-number {
  width: 80%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* Removing default arrows in number field */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.checkbox {
  font-size: 1.2rem;
  line-height: 1.3;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.checkbox a {
  text-decoration: none;
  color: var(--color-tertiary);
}

.btn-form {
  padding: 1.5rem;
  background-color: var(--color-black);
  border-radius: 1rem;
}

.form-container p {
  font-size: 1.3rem;
  text-align: center;
}

.hidden {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 15;
}
